@import "../_variables";

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-family: $primary-font;
}

h1 {
  margin: 0;
  font-family: $primary-font;
}

h2 {
  font-size: 2.5em;
  font-weight: $weight-light;
  margin: 1em 0;
}

h3 {

}

h4 {

}

h5 {

}

h6 {

}

p {

}

a {

}
