@import "../variables";

.header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2em 5%;
  background-image: linear-gradient($base-gray, rgba(0,0,0,0));
}

.navBar {
  .nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    &__item{
      color: white;
      font-size: 1em;
      font-weight: $weight-light;
      list-style-type: none;
      opacity: 0.9;
      transition: opacity .3s;
      &:hover {
        opacity: 1;
      }
    }
    a {
      color: white;
      text-decoration: none;
      padding: 0 1em;
      &:visited {
        color: white;
      }
    }
  }
  //TODO: create responsive menu
  @media only screen and (max-width: $vw-medium) {
    display: none;
  }
}

.icon--search {
  img {
    height: 25px;
  }
}
