@import "../variables";
.hero {
  height: 90vh;
  max-height: 740px;
  padding: 0 5%;
  background-position: top center;
  background-size: cover;
  display: flex;
  align-items: center;
  @media only screen and (max-width: $vw-medium) {
    height: 100vh;
  }
}



